@import "leaflet/dist/leaflet.css";
@import "leaflet-geosearch/dist/geosearch.css";

.leaflet-pane {
  position: relative;
}

.map-field {
  height: 350px;
}

.leaflet-pane .leaflet-shadow-pane {
  display: none;
}
